*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html    {
    scroll-behavior: smooth;
}


$color-white: #fff;
$color-black:#000;
$color-dark: #2C4058;
$color-blue:#55B7FF;

@mixin fz($size_px) {
    font-size: ($size_px / 18) * 1rem;
}

@mixin lh($px_size) {
    line-height: ($px_size / 26) * 1rem;
}

.SansPro {
    font-family: 'SourceSansPro',sans-serif;
}
.OpenSans {
    font-family: 'Open Sans',sans-serif;
}

.Montserrat  {
    font-family: 'Montserrat',sans-serif;
}

@import 'hamburger';
.body{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    @include fz(18);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.container  {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.hamburger  {
    display: none;
}

header{
    width: 100%;
    position: fixed;
    backdrop-filter: blur(1px);
    height: 100px;
    margin-bottom: 150px;
    z-index: 19; 
    &.color  {
        background-color: #7E5AFF;
        background-size: cover;
        + main  {
            padding-top: 180px;
        }
    }
    .container    {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 165px;
    }
    .logo {
        margin-right: 50px;
    }
}



  a {
    text-decoration: none;
}
ul  {
    list-style: none;
}

.main-menu ul  {
    display: flex;
    justify-content: flex-end;
    gap: 70px;
    white-space: nowrap;
    }
    a {
        @include fz(14);
        @include lh(24);
        color: $color-white;
        letter-spacing: 0.3em;
        text-decoration: none;
        position: relative;
        text-transform: none;
}

.icon   ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.icon a{
    width: 30px;
    height: 30px;
    display: inline-flex;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 4px;
    align-items: center;
    justify-content: center;
}

.icon a:hover{
    border: 1px solid #ccc;
}

.icon a:active {
    border: 1px solid yellowgreen;
}


.main-menu ul li a::before   {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 1px solid $color-white;
    border-radius: 50%;
    position: relative;
    left: -15%;
    top: -5%;
    :hover li a:before{
        background: #fff;
    }

}
.main-menu a:hover::before{
    background: #fff;
}


.slide-one  {
    width: 100%;
    height: 100%;
    background-image: url('../img/foto.png'), linear-gradient(207deg, #7E5AFF 0%, #55B7FF 100%);
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    top: 0;
    left: 0;
}

.section-one{
    padding-bottom: 120px;
    .text{
        top: 270px;
        right: -60px;
        padding-bottom: 380px;
        position: relative;
        z-index: 1;
        color: $color-white;
        .text-one-section-one   {
            @include fz(80);
            font-weight: 700;
            text-align: center;
            letter-spacing: 8px;
            margin-bottom: 40px;
            z-index: 2;
        }
        .text-two-section-one   {
            @include fz(18);
            font-weight: 400;
            text-align: center;
            letter-spacing: 5.4px;
            margin-bottom: 240px;
        }
    }
    .button   {
        position: absolute;
        display: inline-block;
        width: 40px;
        height: 40px;
        left: 780px;
        bottom: 65px;
        text-align: center;
        border: 1px solid $color-white;
        border-radius: 40px;
        background: rgba(0, 0, 0, 0);
        line-height: 39px;
        z-index: 3;
        svg {
            top: 0;
        }
    }
}

.slide-two  {
    width: 100%;
    height: 100%;
    background-image: url('../img/foto.png'), linear-gradient(207deg, #4D444D 0%, #C61BCA 100%);
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    top: 0;
    left: 0;
}

.slide-two  {
   
    .text{
        top: 270px;
        right: -60px;
        padding-bottom: 380px;
        position: relative;
        z-index: 1;
        color: $color-white;
        .text-one-section-one   {
            @include fz(80);
            font-weight: 700;
            text-align: center;
            letter-spacing: 8px;
            margin-bottom: 40px;
            z-index: 2;
        }
        .text-two-section-one   {
            @include fz(18);
            font-weight: 400;
            text-align: center;
            letter-spacing: 5.4px;
            margin-bottom: 240px;
        }
    }
}

.slide-three    {
    width: 100%;
    height: 100%;
    background-image: url('../img/foto.png'), linear-gradient(207deg, #2B5842 0%, #13D578 100%);
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    top: 0;
    left: 0;
}

.slide-three  {
    
    .text{
        top: 270px;
        right: -60px;
        padding-bottom: 380px;
        position: relative;
        z-index: 1;
        color: $color-white;
        .text-one-section-one   {
            @include fz(80);
            font-weight: 700;
            text-align: center;
            letter-spacing: 8px;
            margin-bottom: 40px;
            z-index: 2;
        }
        .text-two-section-one   {
            @include fz(18);
            font-weight: 400;
            text-align: center;
            letter-spacing: 5.4px;
            margin-bottom: 240px;
        }
    }
}

.slide-four    {
    width: 100%;
    height: 100%;
    background-image: url('../img/foto.png'), linear-gradient(207deg, #828C64 0%, #B0E810 100%);
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    top: 0;
    left: 0;
}

.slide-four  {
 
    .text{
        top: 270px;
        right: -60px;
        padding-bottom: 380px;
        position: relative;
        z-index: 1;
        color: $color-white;
        .text-one-section-one   {
            @include fz(80);
            font-weight: 700;
            text-align: center;
            letter-spacing: 8px;
            margin-bottom: 40px;
            z-index: 2;
        }
        .text-two-section-one   {
            @include fz(18);
            font-weight: 400;
            text-align: center;
            letter-spacing: 5.4px;
            margin-bottom: 240px;
        }
    }
}

.slide-five    {
    width: 100%;
    height: 100% auto;
    background-image: url('../img/foto.png'), linear-gradient(207deg, #5F5429 0%, #E0B315 100%);
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    top: 0;
    left: 0;
}

.slide-five  {

    .text{
        top: 270px;
        right: -60px;
        padding-bottom: 380px;
        position: relative;
        z-index: 1;
        color: $color-white;
        .text-one-section-one   {
            @include fz(80);
            font-weight: 700;
            text-align: center;
            letter-spacing: 8px;
            margin-bottom: 40px;
            z-index: 2;
        }
        .text-two-section-one   {
            @include fz(18);
            font-weight: 400;
            text-align: center;
            letter-spacing: 5.4px;
            margin-bottom: 240px;
        }
    }
}

.single-item .slick-dots    {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 295px;
    gap: 30px;
}


.single-item .slick-dots li button::before   {
    font-size: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background-color: none;
    border-radius: 50%;
} 


.slick-dots li.slick-active button:before {
    background: #fff;
}

#main-sidebar   {
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    height: 100vh;
    background: $color-white;
    transform: translateX(-100%);
    transition: all .4s ease;
    z-index: 100;
    &.open  {
        transform: translateX(0);
    }
}

#shadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: 99;
    display: none;
    &.show   {
        display: block;
    }
}

.mob-menu   {
    ul  {
        li {
            border-bottom: 1px solid $color-blue;
            a   {
                text-transform: uppercase;
                @include fz(22);
                @include lh(40);
                padding: 0 20px;
                color: #262A3F;
            }
        }
    }
}

.section-two{
    padding-top: 50px;
    .headline {
        @include fz(44);
        font-weight: 700;
        text-align: center;
        color: $color-dark;
        margin-bottom: 90px;
    }
    .headline::before{
        content: '';
        position: absolute;
        width: 100px;
        height: 1px;
        background-color: $color-dark;
        transform: translateX(-50%);
        right: 44%;
        bottom: -25%;
    }
    .div-one-box    {
        position: relative;
        width: 585px;
        height: 470px;
        background-color: $color-blue;
        z-index: 1;
    }
    .foto-one    {    
        width: 100% auto;
        height: 100% auto;
        position: relative;
        z-index: 2;
        display: inline-block;
        left: 20%;
        box-shadow: rgb(85, 183, 255) -144px -62px 0px -18px;
     }
    }
    .flex-section-two   {
        display: flex;
        flex-direction: row;
        gap: 300px;
        .flex-div-one   {
            display: inline-grid;
        }
        .flex-div-two{
            height: 540px;
            margin-top: 105px;
            .section-two-text-one {
             @include fz(22);
             color: $color-dark;
             font-weight: 400;
             margin-bottom: 26px;
             }
            .section-two-text-two {
             @include fz(44);
             font-weight: 700;
             margin-bottom: 20px;
            } 
            .section-two-text-three{
             @include fz(18);
             @include lh(30);
             width: 470px;
            height: 81px;
            }
            .section-two-text-four  {
                @include fz(15);
                font-weight: 400;
                font-style: italic;
                color: $color-black;

            }
            .btn   {
                width: 190px;
                height: 50px;
                border: 1px solid $color-dark;
                background-color: #fff;
                cursor: pointer;
                margin-bottom: 60px;
            }
            .btn:hover {
                border: 1px solid $color-blue;
                color: $color-blue;
            }
            .btn:active {
                border: 1px solid yellowgreen;
                color: yellowgreen;
            }
            .hover_one:hover {
                color: $color-blue;
            }
         }
    }
    .flex-two-section-two   {
        height: 540px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 250px;
        .flex-div-three-box {
            display: inline;
            height: 540px;
            margin-top: 100px;
            .section-two-text-one {
                @include fz(22);
                color: $color-dark;
                font-weight: 400;
                margin-bottom: 26px;
                }
            .section-two-text-two {
                @include fz(44);
                font-weight: 700;
                margin-bottom: 20px;
            } 
            .section-two-text-three{
                @include fz(18);
                @include lh(30);
                width: 470px;
            height: 81px;
            }
            .section-two-text-four  {
                @include fz(15);
                font-weight: 400;
                font-style: italic;
                color: $color-black;

            }
            .btn   {
                width: 190px;
                height: 50px;
                border: 1px solid $color-dark;
                background-color: #fff;
                cursor: pointer;
                margin-bottom: 60px;
            }
            .btn:hover {
                border: 1px solid #7E5AFF;
                color: #7E5AFF;
            }
            .btn:active {
                border: 1px solid yellowgreen;
                color: yellowgreen;
            }
        }
        .flex-div-four-box {
            height: 540px;
            .img-two    {
                position: relative;
                z-index: 1;
                display: inline-block;
                right: 35%;
                box-shadow: 220px -50px 0px 0px #7E5AFF;
            }
     
        }
        .hover_two:hover    {
            color: #7E5AFF;
        }
}
.section-three{
    margin-top: 100px;
    margin-bottom: 150px;
    padding-bottom: 120px;
    background: url('../img/bg-sct-three.png') no-repeat;
    h2{
        @include fz(44);
        font-weight: 700;
        color: $color-white;
        text-align: center;
        padding-top: 150px;
    }
    h2::before  {
        content: '';
        position: absolute;
        width: 100px;
        height: 1px;
        background-color: $color-white;
        transform: translateX(-50%);
        right: 43%;
        bottom:-255%;
    }
}

.slick  {
    margin-top: 90px;
}

.slick-dots li button   {
    font-size: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background-color: none;
    border-radius: 50%;
}
.slick-dots li.slick-active button:before  {
    
    font-size: 0;
    color: none;
}
.slick-dots li button:before    {
    font-size: 0;
    color: none;
}
.slick-dots li.slick-active button{
    background-color: #fff;
}

.slick-dots li.slick-active button:before   {
    background: none;
}


.q  {
    padding: 15px;
}


.news_item  {
    background-color: #fff;
}

.news_image {
    width: 100%;
    height: 100%;
}

.news_title {
    width: 330px;
    height: 50px;
    @include fz(22);
    @include lh(40);
    text-align: start;
    margin: 20px 20px 15px 20px;
}
.news_text  {
    width: 330px;
    height: 50px;
    @include fz(18);
    color: $color-dark;
    margin-left: 20px;
}

.news_flex  {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
    margin-left: 20px;
    padding-bottom: 30px;
    .news_img  {
        border-radius: 50%;
    }
    .news_name  {
        @include fz(18);
        color: $color-dark;
        margin-bottom: 10px;
    }
    .news_date {
        @include fz(14);
        color: $color-blue;

    }
}

.h-section-four   {
        @include fz(44);
        font-weight: 700;
        color: $color-dark;
        text-align: center;
        margin-bottom: 90px;
}

.h-section-four::before  {
        content: '';
        position: absolute;
        width: 100px;
        height: 1px;
        background-color: $color-dark;
        transform: translateX(-50%);
        left: 50%;
        bottom: -386%;
}

.gallery    {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    img     {
        width: 390px;
        height: 335px;
    }
}

.w {
    grid-column: span 1;
    grid-row: span 2;
    img {
        height: 670px;
    }
}

.magnifier {
    background: url(http://zornet.ru/ABVUN/sarunolas/zornet/kotas/transpar-entimage.png) center center no-repeat;
    height: 325px;
    position: absolute;
    width: 330px;
    z-index: 9;
}

.cade {
    width: 330px;
    height: 325px;
    object-fit: cover;
  }



.section-four {
    .btn   {
        width: 190px;
        height: 50px;
        border: 1px solid $color-black;
        background-color: #fff;
        cursor: pointer;
        margin-bottom: 60px;
    }
    .btn:hover {
        border: 1px solid blueviolet;
        color: blueviolet;
    }
    .btn:active {
        border: 1px solid yellowgreen;
        color: yellowgreen;
    }
 }
 .position  {
    display: flex;
    justify-content: center;
    margin-top: 60px;
 }

.map    {
    position: relative;
    z-index: 1;
}

.flex-section-five  {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 240px;
}

 .box-user  {
    position: relative;
    z-index: 3;
    width: 770px;
    height: 450px;
    background: url("../img/city@2x\ 1\ \(2\).jpg") no-repeat;
    background-color: $color-white;
    background-position: bottom;
 }

footer h2{
    color: $color-dark;
    text-align: center;
    @include fz(44);
    font-weight: 700;
    line-height: normal;
    padding-top: 55px;
}

footer h2::before    {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: $color-dark;
    transform: translateX(-50%);
    left: 50%;
    bottom: 92%;
}

.flex-box-user  {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 55px;
    margin-right: 15px;
    margin-left: 15px;
}
.flex-box-user-one  {
    white-space: nowrap;
}

.flex-box-user-one  div{
    margin-bottom: 40px;
}

.flex-box-user-one  svg {
    margin-right: 5px;
}


.text-box-user{
    @include fz(14);
    @include lh(28);
    font-weight: 400;
    color: $color-black;
}

.contact input {
    font-family: Montserrat;
    font-style: normal;
    @include fz(18);
    @include lh(27);
    width: 310px;
    height: 42px;
    border: none;
    border-bottom: 1px solid #E4E4E4;
    background-color: #fff;
    outline: 0;
}

.contact input:hover    {
    border-bottom: 1px solid $color-black;
}

.contact input:active    {
    border-bottom: 1px solid $color-black;
}

.flex-box-user-one .hover-user a:hover{
    color: $color-blue;
}

.flex-box-user-one .hover-user a:active{
    color: #7E5AFF;
}



footer   {
    .btn   {
        position: relative;
        top: 40px;
        left: 170px;
        width: 140px;
        height: 50px;
        font-size: 18px;
        line-height: 27px;
        border: 1px solid $color-black;
        background-color: #fff;
        cursor: pointer;
    }
    .btn:hover {
        border: 1px solid blueviolet;
        color: blueviolet;
    }
    .btn:active {
        border: 1px solid yellowgreen;
        color: yellowgreen;
    }
}

footer .text {
    font-weight: 400;
    @include fz(18);
    @include lh(28);
}

footer  {
    background: url("../img/bg-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .icon   ul{
        display: flex;
        justify-content: end;
        gap: 20px;
    }
}

.footer-flex    {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 200px;
    .logo   {
        margin-bottom: 40px;
    }
}

.footer-text    {
    font-weight: 400;
    line-height: normal;
    @include fz(14);
    color: $color-white;
}

@media screen and (max-width: 1440px)   {
    header .container   {
        gap: 150px;
    }
    .section-one {
        .text{
            .text-two-section-one   {
                margin-bottom: 160px;
            }
        }
        .button {
            left: 735px;
            top: 595px;
        }
    }    
    .section-three h2   {
        padding-top: 90px;
    }
    .flex-section-five  {
        bottom: 205px;
    }
    .footer-flex    {
        bottom: 195px;
    }


}

@media screen and (max-width: 1024px)   {
    .main-menu ul {
        gap: 45px;
    }
    header .container {
        gap: 20px;
    }
    .section-one .button {
        left: 520px;
        top: 430px;
    }
    .section-one{
        padding-bottom: 120px;
        .text{
            padding-bottom: 133px;
        }
    }
    .section-one .text {
        top: 160px;
        left: 0;
    }
    .single-item .slick-dots    {
        top: 145px;
    }
    .section-one .slide-three .text {
        padding-bottom: 50px;
    }
    .flex-section-two  {
        gap: 110px;
        flex-direction: column;
        align-items: center;
    }
    .flex-section-two .flex-div-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flex-two-section-two   {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .flex-section-two .flex-div-two {
        height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section-two .foto-one {
        width: 430px;
        height: 270px;
        left: 5%;
        box-shadow: #55b7ff -130px  -62px 0 -18px;
    }
    .flex-section-two .flex-div-two .btn    {
        margin-bottom: 35px;
    }
    .flex-section-two .flex-div-two     {
        margin-top: 10px;
    }
    .flex-two-section-two   {
        gap: 110px;
    }
    .flex-two-section-two .flex-div-four-box .img-two  {
        width: 430px;
        height: 270px;
        right: 25%;
        box-shadow: 130px -49px 0 0 #7E5AFF;
    }
    .slick-next {
        right: -5%;
    }
    .slick-prev {
        left: -3%;
    }
    .section-three  {
        margin-top: 150px;
        h2{
            padding-top: 35px;
        }
    }
    .gallery    {
        grid-template-columns: repeat(2,1fr);
    }
    .flex-section-five {
        bottom: 140px;
    }
    .footer-flex {
        bottom: 125px;
    }
    
}

@media screen and (max-width: 768px)    {
    .logo {
        margin-right: 10px;
    }
    .logo img {
        width: 150px;
    }
    header .container   {
        gap: 12px;
    }
    .main-menu ul   {
        gap: 30px;
        a   {
            @include fz(12);
            @include lh(15);
        }
    }
    .icon ul {
        gap: 15px;
    }
    .icon a{
        width: 20px;
        height: 20px;
        display: inline-flex;
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 4px;
        align-items: center;
        justify-content: center;
    }
    .icon .fac  {
        height: 10px;
    }
    .section-one{
        padding-bottom: 120px;
        .text{
            padding-bottom: 100px;
            .text-one-section-one   {
                @include fz(50);
                font-weight: 700;
                letter-spacing: 8px;
                margin-bottom: 40px;
                z-index: 2;
            }
            .text-two-section-one   {
                @include fz(15);
                font-weight: 400;
                letter-spacing: 5.4px;
                margin-bottom: 175px;
            }
        }
        .button {
            left: 360px;
            top: 315px;
        }
    }
    .single-item .slick-dots    {
        top: 130px;
    }
    .single-item .slick-dots    {
        gap: 20px;
    }
    .section-two .headline::before  {
        right: 40%;
        bottom: -34%;
    }
    .section-three .slick .slick-next {
        display: none;
        font-size: 0;
    }
    .section-three .slick .slick-prev {
        display: none;
        font-size: 0;
    }
    .gallery img {
        width: 360px;
        height: 330px;
    }
    .w  {
        grid-row: span 1;
    }
    .box-user   {
        height: 420px;
    }
    .flex-section-five {
        bottom: 110px;
    }
    .footer-flex {
        bottom: 100px;
        gap: 345px;
    }
}

@media screen and (max-width: 426px)    {
    header  {
        height: 50px;
    }
    .main-menu  {
        display: none;
    }
    .icon   {
        display: none;
    }
    .hamburger  {
        display: block;
        position: relative;
        display: block;
        top: -3%;
        right: -30%;
    }
    .section-one{
        padding-bottom: 0px;
        .text{
            top: 85px;
            padding-bottom: 15px;
            .text-one-section-one   {
                @include fz(25);
                font-weight: 700;
                letter-spacing: 8px;
                margin-bottom: 25px;
                z-index: 2;
            }
            .text-two-section-one   {
                @include fz(13);
                font-weight: 400;
                letter-spacing: 5.4px;
                margin-bottom: 122px;
            }
        }
        .button {
            width: 18px;
            height: 18px;
            left: 202px;
            top: 180px;
            svg {
                position: relative;
                top: -12px;
            }
        }
    }
    .single-item .slick-dots    {
        top: 70px;
    }
    .single-item .slick-dots    {
        gap: 20px;
    }
    .slick-dots li{
        width: 10px;
        height: 10px;
    }
    .section-one .slide-three .text {
        padding-bottom: 0;
        .text-one-section-one   {
            margin-bottom: 15px;
        }
    }
    .section-two .headline  {
        @include fz(35);
    }
    .section-two .foto-one  {
        box-shadow: #55b7ff -37px -62px 0 -18px;
    }
    .flex-section-two .flex-div-two {
        height: 380px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .section-two    {
        .flex-section-two   {
            gap: 10px;
        }
        .flex-two-section-two .flex-div-three-box .btn  {
            margin-bottom: 25px;
            margin-top: 25px;
        }
        .flex-section-two .flex-div-two .section-two-text-one   {
            @include fz(25);
        }
        .flex-section-two .flex-div-two .section-two-text-two   {
            @include fz(40);
        }
        .flex-section-two .flex-div-two .section-two-text-three {
            width: 250px;
            margin-bottom: 20px;
        }
        .flex-section-two .flex-div-two .section-two-text-four  {
            @include fz(15);
        }
        .flex-two-section-two .flex-div-three-box   {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 200px;
        }
        .flex-section-two .flex-div-two .btn    {
            margin-bottom: 25px;
        }
        .flex-two-section-two .flex-div-three-box .section-two-text-one {
            @include fz(25);
        }
        .flex-two-section-two .flex-div-three-box .section-two-text-two {
            @include fz(40);
        }
        .flex-two-section-two .flex-div-three-box .section-two-text-three   {
            width: 250px;
            margin-bottom: 20px;
        }
        .headline::before  {
            right: 26%;
            bottom: 55%;
        }
        .map-link   {
            @include fz(10);
        }
        .flex-section-two .flex-div-one .foto-one  {
            width: 300px;
            height: 340px;
            left: -15%;
        }
        .flex-two-section-two .flex-div-four-box .img-two   {
            width: 300px;
            height: 300px;
            left: -20%;
            box-shadow: 80px -55px 0 -30px #7E5AFF;
        }

    }
    .section-two .flex-section-two .flex-div-two   {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-three  {
        margin-top: 240px;
        h2{
            padding-top: 20px;
        }
    }
    .gallery    {
        grid-template-columns: repeat(1,1fr);
    }
    .flex-box-user {
        flex-direction: column-reverse;
    }
    .flex-box-user-one div, .footer-flex .logo {
        margin-bottom: 10px;
    }
    .contact    {
        position: relative;
        bottom: 60px;
    }
    .box-user h2 {
        @include fz(25);
    }
    footer .btn {
        top: 5px;
    }
    .flex-box-user-one  {
        position: relative;
        bottom: 65px;
    }
    .flex-section-five {
        bottom: 40px;
    }
    .footer-flex {
        bottom: 30px;
        gap: 0;
        justify-content: center;
    }
}


@media screen and (max-width: 391px)    {
    .hamburger {
        right: -20%;
    }
    .section-one{
        .text   {
            .text-one-section-one {
                @include fz(20);
            }
            .text-two-section-one   {
                @include fz(10);
                margin-bottom: 105px;
            }
        }
        .button {
            left: 190px;
            top: 157px;
        }
    }
    .section-one .slide-three .text {
        top: 70px;
    }
    .single-item .slick-dots    {
        top: 60px;
        gap: 15px;
    }
    .section-two {
        .map-link   {
            width: 300px;
            @include fz(8);
        }
    } 
    .section-two    {
        .flex-section-two .flex-div-two .section-two-text-two   {
            @include fz(35);
        }
        .flex-two-section-two .flex-div-three-box .section-two-text-two {
            @include fz(35);
        }
        .flex-section-two .flex-div-one .foto-one  {
            width: 250px;
            height: 250px;
            left: -20%;
        }
        .flex-two-section-two .flex-div-four-box .img-two   {
            width: 250px;
            height: 250px;
            left: -28%;
            box-shadow: 80px -55px 0 -30px #7E5AFF;
        }
    } 
}

@media screen and (max-width: 376px)    {
    .hamburger {
        right: -20%;
    }
    .section-one{
        .text   {
            .text-one-section-one {
                @include fz(20);
            }
            .text-two-section-one   {
                @include fz(10);
            }
        }
        .button {
            left: 185px;
            top: 160px;
        }
    }
    .section-one .slide-three .text {
        top: 70px;
    }
}